# =========================
# Python
# =========================
__pycache__/
*.pyc
*.pyo
*.pyd

# =========================
# Jupyter
# =========================
.ipynb_checkpoints/

# =========================
# Data & Artifacts
# =========================
creditcard.csv
*.pkl
artifacts/
models/

# =========================
# Images
# =========================
images/*
!images/pr_curve_comparison.png

# =========================
# Environment & OS
# =========================
.env
.venv/
venv/
.DS_Store
Thumbs.db
